Source: webmenu-editor
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/webmenu-editor.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/webmenu-editor.git;a=summary

Package: webmenu-editor
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
