#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=WebMenuTags
GenericName=WebMenuTags
Comment="Das Menu edieren"
Icon=flubidux.png
Exec=/usr/share/bin/webmenu-editor  --tags
Terminal=false
Categories=Accessories
Name[de]=WebMenuTag
